.contact-form {
	vertical-align: middle;
}

.contact-form {
  input,
  textarea {
    background-color: $color-primary;
    border: none;
    border-bottom: solid $color-secondary 1px;
    padding: 10px 0;
    display: block;

    &:valid {
    	outline: none;
    	box-shadow: none;
    }
  }

  span {
  	position: absolute;
  	font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    color: $color-secondary;
  	z-index: 1;
  }

  button {
    margin-top: 30px;
  }

   label {
     position: relative;
     display: block;
   }
}
