.content {
	width: calc(100% - 210px);
	margin-left: 210px;
	position: relative;
	padding: 0;
}

.container {
	position: relative;
	padding: 30px 60px;
}

.c1 {
	width: 12.5%;
	display: inline-block;
}

.c2 {
	width: 25%;
	display: inline-block;
}

.c3 {
	width: 37.5%;
	display: inline-block;
}

.c4 {
	width: 50%;
	display: inline-block;
}

.c5 {
	width: 62.5%;
	display: inline-block;
}

.c6 {
	width: 75%;
	display: inline-block;
}

.c7 {
	width: 87.5%;
	display: inline-block;
}

.c8 {
	width: 100%;
	display: inline-block;
}
