/* Lygiavimas - turi buti vientisas, reiskia, kad viena negali buti viena klase aprasyta su 2 spaces, o kita su 1 tabu, kuris lygus 4 spaces */

/* tarp parametro pavadinimo ir reiksmes turi buti tarpas po dvitaskio, pvz: min-height: 640px o ne min-height:640px */

header {
  min-height:640px;
  max-height:100%;
}

body {
    font-family:$main-font;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100; /* z-index geroji praktika nenustatyti zemiau nulio */
}

.fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.opener {
    color:$text-white;
    font-size:2em;
    transition: color 0.5s ease;
    &:hover { /* jeigu klases viduje yra nestinamu klasiu, busenos aprasu, media queries (trumpai - kazko, apart pacios klases parametru), tai turi buti atskirta eilute nuo parametru */
        color:$strv-red;
    }
}

h1 {
  font-family:$main-font;
  font-size:4em;
  color:$text-white;
  text-transform:uppercase;
  font-weight:700;
}

.line {
  height:0.3em; /* nepriprask prie em reiksmiu, jos turetu buti naudojamos pagrinde tik font-size parametrui, bet net ir tam is patirties nebutinas em naudojimas (del em vs px https://stackoverflow.com/questions/1932773/should-i-use-em-or-px) */
  background-color:$strv-red;
  margin:30px 0;
}

.logo {
  margin:20px;
  a {
    text-decoration:none;
    color:$strv-red;
    font-size:2.5em;
    transition: color 0.5s ease;
    &:hover {
      color:$text-white;
    }
  }
}


.play-video {
  text-align: center;
  margin: auto;
  transition: all .5s ease-in-out, color .5s ease, border-color .5s ease;
  i {
    padding:45px;
    border:4px solid;
    border-color:$strv-red; /* border spalva idek i border atributa, pvz.: border: 4px solid $strv-red; */
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    color:$strv-red;
    font-size:2em;
    &:hover {
      transform: scale(1.2);
      color:$text-white;
      border-color:$text-white;
    }
  }
}


.border {
  border-top:1px solid #ccc;
}

.cover-footer {
  animation: 2s ease-out 0s 1 slideInFromBottom;
  padding: 20px 0;
  img {
    width:130px;
    padding:0 10px;
  }
  p {
    display:inline;
  }
}

p {
  font-family:$main-font;
  color:$text-white;
  font-size:1em;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.info {
  /* This section calls the slideInFromBottom animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromBottom;
  padding: 30px 30px 50px 0;
  button {
    background-color:$strv-red;
    font-family:$main-font;
    color:$text-white;
    font-weight:bold;
    padding: 15px 50px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 2px;
    margin-top:15px;
    transition: opacity .25s ease;
    opacity: 1;
    &:hover {
      opacity:0.7;
    }
    span {
     transform: translateX(0) scale(1);
     transition: transform .25s ease;
      &:hover {
          transform:translateX(-10px) scale(1);
        }
    }
  }
}

@media screen and (max-width: 991px)  {
  video {
    display:none;
  }

  .fullscreen-bg {
    background-image:url('https://www.strv.com/dist/b5c2123caa39686e7ef86584318a7c74.jpg')
  }

  .info {
    padding-left:30px;
  }

  .play-video {
    margin-bottom:35px;
     i {
      font-size:1em;
      padding:20px;
    }
  }

   .border {
    padding:0 30px;
  }
}
